Repository mansoorafzal/MicroservicesDevOps: changes, and which Azure pipelines are due for each by the changed paths.
All: Pipelines/shoppingapi-pipeline.yaml, Pipelines/shoppingclient-pipeline.yaml

Path conditions:
  Pipelines/shoppingapi-pipeline.yaml: any of: Shopping/Shopping.Api, AKS/shoppingapi.yaml, Pipelines/shoppingapi-pipeline.yaml
  Pipelines/shoppingclient-pipeline.yaml: any of: Shopping/Shopping.Client, AKS/shoppingclient.yaml

ShoppingApi change
  Shopping/Shopping.Api/Data/ProductContext.cs
Due: Pipelines/shoppingapi-pipeline.yaml

ShoppingClient change
  Shopping/Shopping.Client/Views/Home/Index.cshtml
Due: Pipelines/shoppingclient-pipeline.yaml

Update README.md
  README.md
Due: none

cleanup resources
  misc-commands.txt
Due: none

vscode ignore
  .gitignore
Due: none
